<div class="menu-wrapper">
  <section class="header-section">
    <h1>Bem-Vindo ao sistema Bookstore</h1>
    <p>Sistema Gerenciamento Bookstore</p>
  </section>

  <section class="menu-grid">

     <div class="menu-card">
      <div class="menu-icon"><i class="fa-solid fa-layer-group"></i></div>
      <h2>Gêneros</h2>
      <p>Gerenciar categorias de livros</p>
      <a routerLink="/genres" class="menu-btn">Acessar</a>
    </div>

    <div class="menu-card">
      <div class="menu-icon"><i class="fa-solid fa-user-pen"></i></div>
      <h2>Autores</h2>
      <p>Gerenciar autores cadastrados</p>
      <a routerLink="/authors" class="menu-btn">Acessar</a>
    </div>

    <div class="menu-card disabled">
      <div class="menu-icon"><i class="fa-solid fa-book-open"></i></div>
      <h2>Livros</h2>
      <p>Disponível em breve</p>
      <a routerLink="/books" class="menu-btn">Acessar</a>
    </div>

  </section>
</div>